@import '~normalize.css/normalize.css';
:root {
  --black: #1d1d1d;
}

body {
  margin: 0;
  font-family: monospace,monospace;
}

a {
  text-decoration: none;
}

a.active, button.active {
  color: mediumseagreen;
  border-color: mediumseagreen;
}